{
  "parser": "@babel/eslint-parser",
  "extends": [
    "plugin:react/recommended"
  ],
  "rules": {
    "no-use-before-define": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0
  },
  "globals": {
    "localStorage": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect"
    },
    "linkComponents": [
      {"name": "Link", "linkAttribute": "href"}
    ]
  }
  
}
